---
import Layout from '../layouts/Layout.astro';
import { releases } from '../data/releases';
const { release } = Astro.params

const info = releases.find(b => b.id === release)
if (!info) {
  return Astro.redirect("/404")
}
---

<Layout title={info.id}>
  <video autoplay muted loop id="backgroundVideo">
    <source src="/public/videos/explotion.mp4" type="video/mp4">
  </video>
  <main class="m-auto p-4 h-full flex flex-col justify-center items-center content">
    <div class="flex flex-col">
      <picture class="mb-8 w-full relative">
        <img
          class="aspect-[500/500] shadow-md relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3 contrast-110" 
          src={info.img} 
          alt={`${info.id}`}
          style={`view-transition-name: release-${info.id}`}
        />
      </picture>
    </div>
    <div class="md:px-10">
      <iframe 
        id="soundcloud"
        width="500px" 
        height="166" 
        allow="autoplay"
        src={`https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/${info.soundcloudId}&amp;color=84D290&show_artwork=false&single_active=true`} 
      >
      </iframe>
    </div>
  </main>
</Layout>

