---
import dreamer from '/dreamer.jpg'
import alliwantisyou from '/alliwantisyou.jpg'
import funkandbass from '/funkandbass.jpg'
import orchid from '/orchid.jpg'
import unchained from '/unchained.jpg'
import yatuza from '/yatuza.jpg'

---

<div class="mx-12 text-black">
  <h1 class="my-24 text-center text-4xl">
    Latest realeses
  </h1>
  <div class="grid grid-cols-1 gap-24 xl:mx-48 md:grid-cols-2">
    <div class="group relative cursor-pointer">
      <img
        class="shadow-md relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
        src={unchained}
        alt="orchid"
      />
      <div
        class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
      >
      </div>
    </div>
    <div class="group relative cursor-pointer">
      <img
        class="shadow-md relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
        src={yatuza}
        alt="orchid"
      />
      <div
        class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
      >
      </div>
    </div>
    <div class="group relative cursor-pointer">
      <img
        class="shadow-md relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
        src={orchid}
        alt="orchid"
      />
      <div
        class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
      >
      </div>
    </div>
    <div class="group relative cursor-pointer">
      <img
        class="shadow-md relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
        src={dreamer}
        alt="dreamer"
      />
      <div
        class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
      >
      </div>
    </div>
    <div class="group relative cursor-pointer">
      <img
        class="shadow-md relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
        src={alliwantisyou}
        alt="alliwantisyou"
      />
      <div
        class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
      >
      </div>
    </div>
    <div class="group relative cursor-pointer">
      <img
        class="shadow-md relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
        src={funkandbass}
        alt="funkandbass"
      />
      <div
        class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
      >
      </div>
    </div>


    
  </div>
</div>